# .NET build folders
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/

# User-specific files
*.user
*.suo
*.rsuser

# Build artifacts
*.dll
*.exe
*.pdb
*.cache

# Python cache (caso tenha scripts)
__pycache__/
*.pyc

# Ignore node_modules and build outputs only inside clients
src/client-angular/node_modules/
src/client-angular/dist/
src/client-nextjs/node_modules/
src/client-nextjs/.next/
src/client-nextjs/out/
